@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(2,0,36);
  background:white;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}
h1, h2, h3{
  color: green;
}

h1{
  color: #fff; 
  padding: 20px;
  font-weight: 500;
}

a{
  text-decoration: underline;
  color: green; 
  font-size: 13px;
  font-weight: 100;


}
#title{
  padding: 20px;
  font-weight: 400;
}



section{
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: left;
  
}


